.liquidChrome-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
  overflow: hidden;
}

.liquidChrome-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

